@import url(https://cdn.jsdelivr.net/fontsource/css/inter@latest/index.css);
@import url(https://cdn.jsdelivr.net/fontsource/css/merriweather@latest/index.css);

@font-face {
    font-family: 'InterVariable';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: 'Parafina';
    src: url("ParafinaTrial-BlackM-BF66bd7815b9340.otf");
}

html {
    --lumo-base-color:rgba(255,248,242,1);
    --lumo-font-family:Inter;
    --lumo-font-size-l:1.125rem;
    --lumo-font-size-m:1rem;
    --lumo-font-size-s:0.875rem;
    --lumo-font-size-xl:1.375rem;
    --lumo-font-size-xs:0.8125rem;
    --lumo-font-size-xxl:1.75rem;
    --lumo-font-size-xxs:0.75rem;
    --lumo-font-size-xxxl:2.5rem;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

:root {
    --lumo-font-family: 'InterVariable', serif, sans-serif;

    --background-color: #f5f7fa;
    --widget-color: #ffffff;
    --text-color: #333333;
    --green: #2ecc71;
    --red: #e74c3c;
}

h1 {
    font-family: 'Parafina', serif;
    font-weight:bold;
    /*font-family: Merriweather, serif;*/
}



/*BUTTONS*/

vaadin-button {
    border-radius: 300px;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    transition: all 0.2s;

    cursor: pointer;
}

vaadin-button[theme~="primary"] {
    border: 3px solid rgba(0, 0, 0, 0.212);

}

vaadin-button[theme~="tertiary"] {
    margin-top: 0.5rem;
    border-radius: 300px;
    padding-block: 1.5rem;
    padding-inline: 1.5rem;
    &:hover {

    }
}

vaadin-text-field {
    border-radius: 300px;
    padding-block: 1.5rem;
}


vaadin-tabsheet::part(tabs-container) {
    justify-content: center;
    margin: auto;
    width: 100%;
}

vaadin-tabs{
    --lumo-tabs-border-radius: 0;
    --lumo-tabs-item-padding: 0 1em;
}

vaadin-tabsheet::part(content) {
    margin: 0 auto;
    max-width: 600px;
}

/* Example: CSS class name to center align the content . */
.centered-content {
    margin: 0 auto;
    max-width: 250px;
}

/* Example: the style is applied only to the textfields which have the `bordered` class name. */
vaadin-text-field.bordered::part(input-field) {
    box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
    background-color: var(--lumo-base-color);
}

.centered-title {
    text-align: center;
}

.no-wrap {
    white-space: nowrap;
}

.widget {
    background-color: var(--widget-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 15px;
}

.timeline-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Dark Mode Support */
html[theme~="dark"] {
    --lumo-base-color: #1e1e1e;
    --lumo-contrast: #252526;
    --lumo-text-color: #ffffff;
    --lumo-border-color: #333;
}

html[theme~="dark"] vaadin-side-nav-item::part(content) {
    color: var(--lumo-text-color);
}

html[theme~="dark"] vaadin-side-nav-item[selected]::part(content),
html[theme~="dark"] vaadin-side-nav-item:hover::part(content) {
    background-color: var(--lumo-shade-20pct);
    color: var(--lumo-primary-color);
}


.onboarding-tab {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
}


.description {
    color: var(--lumo-secondary-text-color);
    margin-bottom: 2em;
}

vaadin-form-layout {
    --vaadin-form-layout-column-spacing: 2em;
}

vaadin-app-layout::part(navbar) {
    justify-content: space-between;
    padding-right: 16px;
}




